---
import { getCollection } from "astro:content";
import {
	AstroIcon,
	ClerkIcon,
	DrizzleIcon,
	ExpoIcon,
	ExpressIcon,
	FastApiIcon,
	FigmaIcon,
	GeminiIcon,
	HonoIcon,
	LangChainIcon,
	LangGraphIcon,
	NativeWindIcon,
	NeonIcon,
	NextjsIcon,
	PythonIcon,
	ReactjsIcon,
	SQLiteIcon,
	TrpcIcon,
	Turborepo,
	TursoIcon,
	Typescript,
	Vercel,
} from "@/components/Icons.tsx";
import { Tailwind } from "@/components/Icons.tsx";
import { PostgresIcon } from "@/components/Icons.tsx";
import ArrowCard from "@components/ArrowCard";
import MeteorShower from "@components/MeteorShower.astro";
import StackCard from "@components/StackCard";
import TwinklingStars from "@components/TwinklingStars.astro";
import { SITE, SOCIALS } from "@consts";
import PageLayout from "@layouts/PageLayout.astro";

const posts = (await getCollection("blog"))
	.filter((post) => !post.data.draft)
	.sort((a, b) => b.data.date.getTime() - a.data.date.getTime())
	.slice(0, 2);

const projects = (await getCollection("projects"))
	.filter((project) => !project.data.draft)
	.sort((a, b) => b.data.date.getTime() - a.data.date.getTime())
	.slice(0, 3);

const stack = [
	{
		text: "Next.js",
		icon: NextjsIcon,
		href: "https://nextjs.org",
	},
	{
		text: "Typescript",
		icon: Typescript,
		href: "https://www.typescriptlang.org",
	},
	{
		text: "Tailwind",
		icon: Tailwind,
		href: "https://www.tailwindcss.com",
	},
	{
		text: "Express",
		icon: ExpressIcon,
		href: "https://expressjs.com",
	},
	{
		text: "Turborepo",
		icon: Turborepo,
		href: "https://turborepo.com",
	},
	{
		text: "Expo",
		icon: ExpoIcon,
		href: "https://expo.dev",
	},
	{
		text: "Nativewind",
		icon: NativeWindIcon,
		href: "https://nativewind.dev",
	},
	{
		text: "Turso",
		icon: TursoIcon,
		href: "https://turso.tech",
	},
	{
		text: "Neon",
		icon: NeonIcon,
		href: "https://neon.tech",
	},
	{
		text: "Drizzle ORM",
		icon: DrizzleIcon,
		href: "https://orm.drizzle.team",
	},
	// {
	// 	text: "Astro",
	// 	icon: AstroIcon,
	// 	href: "https://astro.build",
	// },
	{
		text: "Figma",
		icon: FigmaIcon,
		href: "https://figma.com",
	},
	{
		text: "Vercel",
		icon: Vercel,
		href: "https://vercel.com",
	},
];

const backendStack = [
	// {
	// 	text: "tRPC",
	// 	icon: TrpcIcon,
	// 	href: "https://www.trpc.io",
	// },
];

const aiStack = [
	{
		text: "Fast API",
		icon: FastApiIcon,
		href: "https://fastapi.tiangolo.com",
	},
	{
		text: "Python",
		icon: PythonIcon,
		href: "https://python.org",
	},
	{
		text: "LangChain",
		icon: LangChainIcon,
		href: "https://www.langchain.com",
	},
	{
		text: "LangGraph",
		icon: LangGraphIcon,
		href: "https://www.langchain.com/langgraph",
	},
	// {
	// 	text: "LangSmith",
	// 	icon: LangSmithIcon,
	// 	href: "https://www.langchain.com/langsmith",
	// },
	// 	{
	// 	text: "Workers AI",
	// 	icon: WorkersAiIcon,
	// 	href: "https://www.cloudflare.com/developer-platform/products/workers-ai/",
	{
		text: "Gemini AI",
		icon: GeminiIcon,
		href: "https://ai.google.dev/gemini-api/docs",
	},
];
---

<PageLayout title="Home" description={SITE.DESCRIPTION}>

  <!-- Light Mode: Particles -->
  <div class='absolute inset-0 block dark:hidden'>
    <div id='particles1' class='fixed inset-0'></div>
    <div id='particles2' class='fixed inset-0'></div>
    <div id='particles3' class='fixed inset-0'></div>
  </div>

  <!-- Dark Theme: Stars -->
  <div class='absolute inset-0 bg-black hidden dark:block'>
    <div id='stars1' class='fixed inset-0'></div>
    <div id='stars2' class='fixed inset-0'></div>
    <div id='stars3' class='fixed inset-0'></div>
  </div>

  <!-- Dark Theme: Twinkling Stars / Metors -->
  <div id="galaxy" class="fixed inset-0">
    <div class="hidden dark:block">
      <TwinklingStars/>
      <MeteorShower/>
    </div>
  </div>
  
  <!-- HERO -->
  <section class="relative h-screen w-full">
    <div id="planetcont" class='animate absolute inset-0 top-1/4 overflow-hidden'>
        </div>
      </div>
    </div>
    <div class="animate absolute h-full w-full flex items-center justify-center">
      <div class='relative w-full h-full flex items-center justify-center'>
        <div class='p-5 text-center'>
          <p class='animated text-xl lg:text-2xl font-semibold opacity-75'>
            Hi, I am ...
          </p>
          <h1 class='animated text-3xl lg:text-4xl font-bold  text-black dark:text-white'>
            Fernando
          </h1>
          <h2 class='animated text-base lg:text-lg opacity-75'>
            An Innovative Software Developer
          </h2>
          <div id="ctaButtons" class='animated flex flex-wrap gap-4 justify-center mt-5'>
            <a href='#about' id="aboutLink" class='py-2 px-4 rounded truncate text-sm lg:text-base bg-black dark:bg-white text-white dark:text-black hover:opacity-75 blend'>
              Get Started
            </a>
            <a href="#contact" id="contactLink" class='py-2 px-4 truncate rounded text-sm lg:text-base border border-black/25 dark:border-white/25 hover:bg-black/5 hover:dark:bg-white/15 blend'>
              Let's Connect
            </a>
          </div>
        </div>
      </div>
    </div>
    <div id="about" class="absolute bottom-16"></div>
  </section>

  <div class="relative bg-white dark:bg-black">
    <div class="mx-auto max-w-screen-sm p-5 space-y-24 pb-16">

      <!-- About Section -->
      <section class="animate">
        <article class="pb-0">
          <p>I am a FullStack Developer, with the mission of empowering users with intuitive and impactful solutions.</p>
          <p>During my career</p>
          <p class="text-pretty">I have worked on many projects including Content Websites, Ecommerce Platforms and Software as a Service Applications, delivering top-tier performance and user experience. <a href="/work" id="workLink" class=" hover:underline">read more...</a></p>
          <p>Now</p>
          <p>Currently I work as an <b><i>Indie Dev</i></b>, creating mobile and web application powered with modern technologies and AI features.<br>
            I am always open to new opportunities and challenges.</p>
          </article>
      </section>

       <!-- Tech Stack Section -->
       <section class="animate">
        <!-- Stack 1 -->
        <div class="space-y-4">
          <h3 class="font-semibold text-lg text-black dark:text-white">
            My Current Tech Stack
          </h3>
          <p class="text-black dark:text-white">
            FullStack Development
          </p>
          <div class="flex flex-wrap items-center gap-2 mt-5">
            {stack.map(item => (
              <StackCard
                text={item.text}
                icon={item.icon}
                href={item.href}
              />
            ))}
          </div>
          <div class="flex flex-wrap items-center gap-2 mt-5">
            Performing reactivity and statefulness with
            <a href="https://www.react.dev/" target="_blank" class="w-fit group underline decoration-[.5px] decoration-black/25 dark:decoration-white/50  hover:decoration-black dark:hover:decoration-white text-black dark:text-white underline-offset-2 blend">
              <span class="text-black/75 dark:text-white/75 group-hover:text-black group-hover:dark:text-white blend flex gap-1">
                <ReactjsIcon class="w-5 h-5"/> React & React Native
              </span>
            </a>
          </div>
        </div>
         <!-- Stack 2 -->
        <!-- <div class="space-y-4 mt-8">
          <p class="text-black dark:text-white">
            Backend Development
          </p>
          <div class="flex flex-wrap items-center gap-2 mt-5">
            {backendStack.map(item => (
              <StackCard
                text={item.text}
                icon={item.icon}
                href={item.href}
              />
            ))}
          </div>
        </div> -->
         <!-- Stack 3 -->
        <div class="space-y-4 mt-8">
          <p class="text-black dark:text-white">
            AI Development
          </p>
          <div class="flex flex-wrap items-center gap-2 mt-5">
            {aiStack.map(item => (
              <StackCard
                text={item.text}
                icon={item.icon}
                href={item.href}
              />
            ))}
          </div>
        </div>
      </section>
     

      <!-- Project Preview Section -->
      <section class="animate">
        <div class="space-y-4">
          <div class="flex justify-between">
            <p class="font-semibold text-black dark:text-white">
              Recent projects
            </p>
            <a href="/projects" class="w-fit col-span-3 group flex gap-1 items-center underline decoration-[.5px] decoration-black/25 dark:decoration-white/50 hover:decoration-black dark:hover:decoration-white text-black dark:text-white underline-offset-2 blend">
              <span class="text-black/75 dark:text-white/75 group-hover:text-black group-hover:dark:text-white blend">
                All projects
              </span>
            </a>
          </div>
          <ul class="space-y-4">
            {projects.map((project) => (
              <li>
                <ArrowCard entry={project} />
              </li>
            ))}
          </ul>
        </div>
      </section>

      <!-- Blog Preview Section -->
      <section class="animate">
        <div class="space-y-4">
          <div class="flex justify-between">
            <p class="font-semibold text-black dark:text-white">
              Recent posts
            </p>
            <a href="/blog" class="w-fit col-span-3 group flex gap-1 items-center underline decoration-[.5px] decoration-black/25 dark:decoration-white/50 hover:decoration-black dark:hover:decoration-white text-black dark:text-white underline-offset-2 blend">
              <span class="text-black/75 dark:text-white/75 group-hover:text-black group-hover:dark:text-white blend">
                All posts
              </span>
            </a>
          </div>
          <ul class="space-y-4">
            {posts.map((post) => (
              <li>
                <ArrowCard entry={post} />
              </li>
            ))}
          </ul>
        </div>
        <div id="contact" class="absolute bottom-16"></div>
      </section>


      <!-- Contact Section -->
      <section  class="animate flex flex-col items-center gap-4 md:flex-row-reverse md:justify-between">
        <img class="rounded-full w-40 h-40" src="/fgbyte-pic.webp" loading="lazy" alt="fgbyte-pic">
        <div>
          <p class="font-semibold text-lg text-black dark:text-white">
            Let's Connect
          </p>
          <p>
            Reach out to me via email or on social media.
          </p>
          <div class="grid grid-cols-4 gap-y-2 mt-4 auto-cols-min">
            {SOCIALS.map(social => (
              <div class="col-span-1 flex items-center gap-1">
                <span class="whitespace-nowrap truncate">
                  {social.NAME}
                </span>
              </div>
              <div class="col-span-3 truncate">
                <a href={social.HREF} target="_blank" class="w-fit col-span-3 group flex gap-1 items-center underline decoration-[.5px] decoration-black/25 dark:decoration-white/50 hover:decoration-black dark:hover:decoration-white text-black dark:text-white underline-offset-2 blend">
                  <span class="text-black/75 dark:text-white/75 group-hover:text-black group-hover:dark:text-white blend">
                    {social.TEXT}
                  </span>
                </a>
              </div>
            ))}
        </div>
      </div>
      </section>
    </div>
  </div>
</PageLayout>


<script>
  document.getElementById('aboutLink')?.addEventListener('click', (event) => {
    event.preventDefault(); // Prevent default anchor click behavior

    const targetElement = document.getElementById('about');
    if (targetElement) {
        targetElement.scrollIntoView({ behavior: 'smooth' }); // Scroll smoothly to the target element
    }
});

 document.getElementById('contactLink')?.addEventListener('click', (event) => {
    event.preventDefault(); // Prevent default anchor click behavior

    const targetElement = document.getElementById('contact');
    if (targetElement) {
        targetElement.scrollIntoView({ behavior: 'smooth' }); // Scroll smoothly to the target element
    }
});
</script>

  <script defer  src="/js/bg.js"></script>

