---
import { getCollection } from "astro:content";
import {
	AstroIcon,
	DrizzleIcon,
	ExpoIcon,
	NextjsIcon,
	PostgresIcon,
	ReactjsIcon,
	StorybookIcon,
	Tailwind,
	Typescript,
} from "@/components/Icons.tsx";
import ArrowCard from "@components/ArrowCard";
import MeteorShower from "@components/MeteorShower.astro";
import StackCard from "@components/StackCard";
import TwinklingStars from "@components/TwinklingStars.astro";
import { SITE, SOCIALS } from "@consts";
import PageLayout from "@layouts/PageLayout.astro";

const posts = (await getCollection("blog"))
	.filter((post) => !post.data.draft)
	.sort((a, b) => b.data.date.getTime() - a.data.date.getTime())
	.slice(0, 3);

const projects = (await getCollection("projects"))
	.filter((project) => !project.data.draft)
	.sort((a, b) => b.data.date.getTime() - a.data.date.getTime())
	.slice(0, 3);

const stack = [
	{
		text: "Next.js",
		icon: NextjsIcon,
		href: "https://nextjs.org",
	},
	// {
	// 	text: "Expo",
	// 	icon: ExpoIcon,
	// 	href: "https://expo.dev",
	// },
	// {
	// 	text: "Astro",
	// 	icon: AstroIcon,
	// 	href: "https://astro.build",
	// },
	{
		text: "Typescript",
		icon: Typescript,
		href: "https://www.typescriptlang.org",
	},
	{
		text: "Tailwind",
		icon: Tailwind,
		href: "https://tailwindcss.com",
	},
	{
		text: "Drizzle ORM",
		icon: DrizzleIcon,
		href: "https://orm.drizzle.team/",
	},
	// {
	// 	text: "Postgres SQL",
	// 	icon: PostgresIcon,
	// 	href: "https://www.postgresql.org",
	// },
	// {
	// 	text: "Storybook",
	// 	icon: StorybookIcon,
	// 	href: "https://storybook.js.org",
	// },
];
---

<PageLayout title="Home" description={SITE.DESCRIPTION}>

  <!-- Light Mode: Particles -->
  <div class='absolute inset-0 block dark:hidden'>
    <div id='particles1' class='fixed inset-0'></div>
    <div id='particles2' class='fixed inset-0'></div>
    <div id='particles3' class='fixed inset-0'></div>
  </div>

  <!-- Dark Theme: Stars -->
  <div class='absolute inset-0 bg-black hidden dark:block'>
    <div id='stars1' class='fixed inset-0'></div>
    <div id='stars2' class='fixed inset-0'></div>
    <div id='stars3' class='fixed inset-0'></div>
  </div>

  <!-- Dark Theme: Twinkling Stars / Metors -->
  <div id="galaxy" class="fixed inset-0">
    <div class="hidden dark:block">
      <TwinklingStars/>
      <MeteorShower/>
    </div>
  </div>

  <script is:inline src="/js/bg.js"></script>
  
  <!-- HERO -->
  <section class="relative h-screen w-full">
    <div id="planetcont" class='animate absolute inset-0 top-1/4 overflow-hidden'>
        </div>
      </div>
    </div>
    <div class="animate absolute h-full w-full flex items-center justify-center">
      <div class='relative w-full h-full flex items-center justify-center'>
        <div class='p-5 text-center'>
          <p class='animated text-xl lg:text-2xl font-semibold opacity-75'>
            Hi, I am ...
          </p>
          <p class='animated text-3xl lg:text-4xl font-bold  text-black dark:text-white'>
            Fernando
          </p>
          <p class='animated text-base lg:text-lg opacity-75'>
            An Innovative Software Developer
          </p>
          <div id="ctaButtons" class='animated flex flex-wrap gap-4 justify-center mt-5'>
            <a href='#about' id="aboutLink" class='py-2 px-4 rounded truncate text-sm lg:text-base bg-black dark:bg-white text-white dark:text-black hover:opacity-75 blend'>
              About my journey
            </a>
            <a href='/work' class='py-2 px-4 truncate rounded text-sm lg:text-base border border-black/25 dark:border-white/25 hover:bg-black/5 hover:dark:bg-white/15 blend'>
              View my work
            </a>
          </div>
        </div>
      </div>
    </div>
    <div id="about" class="absolute bottom-16"></div>
  </section>

  <div class="relative bg-white dark:bg-black">
    <div class="mx-auto max-w-screen-sm p-5 space-y-24 pb-16">

      <!-- About Section -->
      <section class="animate">
        <article class="pb-0">
          <p>I am a <b><i>FullStack Developer</i></b>, with the mission of empowering users with intuitive and impactful solutions.</p>
          <p>During my career</p>
          <p>I have worked on projects including <b><i>Content Driven Websites</i></b>, <b><i>Ecommerce Platforms</i></b> and <b><i>SaaS applications with AI-driven features</i></b> delivering top-tier performance and user experience.</p>
          <p>Now</p>
          <p>I currently work as a <b><i>Solopreneur</i></b>, partnering closely with clients to create innovative impactful projects.</p>
        </article>
      </section>

       <!-- Tech Stack Section -->
       <section class="animate">
        <div class="space-y-4">
          <p class="font-semibold text-black dark:text-white">
            My Current Tech Stack
          </p>
          <p class="text-black dark:text-white">
            App Development
          </p>
          <div class="flex flex-wrap items-center gap-2 mt-5">
            {stack.map(item => (
              <StackCard
                text={item.text}
                icon={item.icon}
                href={item.href}
              />
            ))}
          </div>
          <div class="flex flex-wrap items-center gap-2 mt-5">
            Performing reactivity and statefulness with
            <a href="https://www.react.dev/" target="_blank" class="w-fit group underline decoration-[.5px] decoration-black/25 dark:decoration-white/50  hover:decoration-black dark:hover:decoration-white text-black dark:text-white underline-offset-2 blend">
              <span class="text-black/75 dark:text-white/75 group-hover:text-black group-hover:dark:text-white blend flex gap-1">
                <ReactjsIcon class="w-5 h-5"/> ReactJS
              </span>
            </a>
          </div>
        </div>
      </section>

      <!-- Blog Preview Section -->
      <!-- <section class="animate">
        <div class="space-y-4">
          <div class="flex justify-between">
            <p class="font-semibold text-black dark:text-white">
              Recent posts
            </p>
            <a href="/blog" class="w-fit col-span-3 group flex gap-1 items-center underline decoration-[.5px] decoration-black/25 dark:decoration-white/50 hover:decoration-black dark:hover:decoration-white text-black dark:text-white underline-offset-2 blend">
              <span class="text-black/75 dark:text-white/75 group-hover:text-black group-hover:dark:text-white blend">
                All posts
              </span>
            </a>
          </div>
          <ul class="space-y-4">
            {posts.map((post) => (
              <li>
                <ArrowCard entry={post} />
              </li>
            ))}
          </ul>
        </div>
      </section> -->

     

      <!-- Project Preview Section -->
      <section class="animate">
        <div class="space-y-4">
          <div class="flex justify-between">
            <p class="font-semibold text-black dark:text-white">
              Recent projects
            </p>
            <a href="/projects" class="w-fit col-span-3 group flex gap-1 items-center underline decoration-[.5px] decoration-black/25 dark:decoration-white/50 hover:decoration-black dark:hover:decoration-white text-black dark:text-white underline-offset-2 blend">
              <span class="text-black/75 dark:text-white/75 group-hover:text-black group-hover:dark:text-white blend">
                All projects
              </span>
            </a>
          </div>
          <ul class="space-y-4">
            {projects.map((project) => (
              <li>
                <ArrowCard entry={project} />
              </li>
            ))}
          </ul>
        </div>
      </section>

      <!-- Contact Section -->
      <section class="animate">
        <div>
          <p class="font-semibold text-black dark:text-white">
            Let's Connect
          </p>
          <p>
            Reach out to me via email or on social media.
          </p>
          <div class="grid grid-cols-4 gap-y-2 mt-4 auto-cols-min">
            {SOCIALS.map(social => (
              <div class="col-span-1 flex items-center gap-1">
                <span class="whitespace-nowrap truncate">
                  {social.NAME}
                </span>
              </div>
              <div class="col-span-3 truncate">
                <a href={social.HREF} target="_blank" class="w-fit col-span-3 group flex gap-1 items-center underline decoration-[.5px] decoration-black/25 dark:decoration-white/50 hover:decoration-black dark:hover:decoration-white text-black dark:text-white underline-offset-2 blend">
                  <span class="text-black/75 dark:text-white/75 group-hover:text-black group-hover:dark:text-white blend">
                    {social.TEXT}
                  </span>
                </a>
              </div>
            ))}
        </div>
      </section>
    </div>
  </div>
</PageLayout>


<script>
  document.getElementById('aboutLink')?.addEventListener('click', (event) => {
    event.preventDefault(); // Prevent default anchor click behavior

    const targetElement = document.getElementById('about');
    if (targetElement) {
        targetElement.scrollIntoView({ behavior: 'smooth' }); // Scroll smoothly to the target element
    }
});
</script>